.container-fluid__dibujos {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 6rem;


    .dibujo img {
        width: 50vh;
        height: auto;
        padding: 10px;
    }

}

.hero__dibujo {
    background-color: darkblue;
}

.dibujos__titulo {
    color: yellow;
    height: 100vh;
    width: auto;
    background-color: darkblue;
}
