.container-fluid__dibujos {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;

    @mixin dibujos {
        padding: 0;
        border: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: nowrap;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
    }
    .container-dibujos1 {
        @include dibujos;
    }
    .container-dibujos2 {
        @include dibujos;
    }
    .container-dibujos3 {
        @include dibujos;
    }
    .container-dibujos4 { 
        @include dibujos;
    }
    
    @mixin imagenes ($ancho){
        width: $ancho;
        height: auto;
        padding: 10px;
    }
        .dibujo img {
            @include imagenes(30vw);
        }

        .oleo img {
            @include imagenes(45vw);
        }

        .oleo2 img {
            @include imagenes(45vw);
        }

        .foto-ronld img {
            @include imagenes (80vw);
        }
        
        .infocard-img {
            @include imagenes(50vw);
        } 
}

