#footer {
    background-color: #000;
}

.footer-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: #000;
}

//MAPAS
a { text-decoration: none; margin: 2rem; padding: 1rem .5rem}
a:hover { color: white; }

$colores: (
    instagram: #ffdc7d,
    facebook: #4267B2,
    spotify: #1DB954,
    twitter: #00acee,
);

@each $valor, $color in $colores {
    .#{$valor} {
        color: $color;
    }
}