.informacion__general {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .infocard__1 {
        @extend %text;
    }

    .infocard-img {
        height: auto;
        width: 50vw;
    }
    
}
