%text {
    text-align: center;
    width: 50vw;
    height: auto;
    font-size: 2rem;
    padding: 10px;
}

.container-text {
    display: flex;
    flex-direction: row;
    flex: nowrap;

    .sobremi-text {
        @extend %text; 
    }
}



