.xilo-titulo {
    height: 50vh;
    font-size: 7rem;
    font-weight: bolder;
    color: #FFFE54;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}