@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.hero {
  height: 100vh;
  background: url("../img/dibujos/banner-1.png") no-repeat center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
  color: #fff;
}

.hero h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.hero h2 {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.hero p {
  text-align: center;
  font-weight: 100;
  font-size: 1em;
}

.main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100vw;
  color: #000;
  padding: 0 10vw;
  z-index: 1;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-header .nav-links .nav-link {
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-header .nav-links .nav-link:nth-of-type(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.main-header .nav-links .nav-link:nth-of-type(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.main-header .nav-links .nav-link:nth-of-type(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.main-header .nav-links .nav-link a {
  margin: .2rem;
  padding: 1rem .5rem;
}

.main-header .nav-links .nav-link a:hover {
  color: red;
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #000;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.main-header .menu-icon__line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-header .menu-icon__line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.main-header .logo img {
  height: 6vh;
  width: auto;
}

.main-header .menu-btn {
  position: absolute;
  top: -100px;
  display: none;
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.main-header.scrolled {
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: #fff;
}

.container-fluid__dibujos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid__dibujos .container-dibujos1 {
  padding: 0;
  border: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: nowrap;
      -ms-flex: nowrap;
          flex: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
}

.container-fluid__dibujos .container-dibujos2 {
  padding: 0;
  border: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: nowrap;
      -ms-flex: nowrap;
          flex: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
}

.container-fluid__dibujos .container-dibujos3 {
  padding: 0;
  border: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: nowrap;
      -ms-flex: nowrap;
          flex: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
}

.container-fluid__dibujos .container-dibujos4 {
  padding: 0;
  border: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: nowrap;
      -ms-flex: nowrap;
          flex: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
}

.container-fluid__dibujos .dibujo img {
  width: 30vw;
  height: auto;
  padding: 10px;
}

.container-fluid__dibujos .oleo img {
  width: 45vw;
  height: auto;
  padding: 10px;
}

.container-fluid__dibujos .oleo2 img {
  width: 45vw;
  height: auto;
  padding: 10px;
}

.container-fluid__dibujos .foto-ronld img {
  width: 80vw;
  height: auto;
  padding: 10px;
}

.container-fluid__dibujos .infocard-img {
  width: 50vw;
  height: auto;
  padding: 10px;
}

#footer {
  background-color: #000;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #000;
}

a {
  text-decoration: none;
  margin: 2rem;
  padding: 1rem .5rem;
}

a:hover {
  color: white;
}

.instagram {
  color: #ffdc7d;
}

.facebook {
  color: #4267B2;
}

.spotify {
  color: #1DB954;
}

.twitter {
  color: #00acee;
}

.informacion__general {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informacion__general .infocard-img {
  height: auto;
  width: 50vw;
}

.contact-tittle {
  padding: 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #0F9AF8;
}

.contact-form {
  background-color: #0F9AF8;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form form {
  width: 100vw;
  max-width: 600px;
}

.contact-form .input-group {
  margin-bottom: 30px;
  position: relative;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

.contact-form label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact-form button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

.contact-form input:focus ~ label,
.contact-form input:valid ~ label,
.contact-form textarea:focus ~ label,
.contact-form textarea:valid ~ label {
  top: -35px;
  font-size: 15px;
}

.informacion__general .infocard__1, .container-text .sobremi-text {
  text-align: center;
  width: 50vw;
  height: auto;
  font-size: 2rem;
  padding: 10px;
}

.container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: nowrap;
      -ms-flex: nowrap;
          flex: nowrap;
}

/* VARIABLES */
/* TÍTULOS */
.xilo-titulo {
  height: 50vh;
  font-size: 5rem;
  font-weight: bolder;
  color: #FFFE54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.sobremi-titulo {
  height: 50vh;
  font-size: 5rem;
  font-weight: bolder;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.ceramica-titulo {
  height: 50vh;
  font-size: 5rem;
  font-weight: bolder;
  color: #FC2218;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.dibujos-titulo {
  height: 50vh;
  font-size: 5rem;
  font-weight: bolder;
  color: #0F9AF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* SUBTÍTULOS */
.dibujo-titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    -webkit-animation: closedMid 0.8s backwards;
            animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    -webkit-animation: closedTop 0.8s backwards;
            animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    -webkit-animation: closedBtm 0.8s backwards;
            animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    background: #272727;
    -webkit-transition: opacity .8s 5s, -webkit-clip-path 1s .5s;
    transition: opacity .8s 5s, -webkit-clip-path 1s .5s;
    transition: opacity .8s 5s, clip-path 1s .5s;
    transition: opacity .8s 5s, clip-path 1s .5s, -webkit-clip-path 1s .5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links nav.link {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .main-header .menu-btn:checked ~ .nav-links nav.link:nth-of-type(1) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  .main-header .menu-btn:checked ~ .nav-links nav.link:nth-of-type(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .main-header .menu-btn:checked ~ .nav-links nav.link:nth-of-type(3) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  .main-header .menu-btn:checked ~ .nav-links nav.link:nth-of-type(4) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: #fff;
    -webkit-animation: openMid 0.8s forwards;
            animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: #fff;
    -webkit-animation: openTop 0.8s forwards;
            animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: #fff;
    -webkit-animation: openBtm 0.8s forwards;
            animation: openBtm 0.8s forwards;
  }
  .hero h1 {
    font-size: 2rem;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes openMid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes openMid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes closedMid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes closedMid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) otate(0deg);
            transform: translateY(0px) otate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) otate(0deg);
            transform: translateY(0px) otate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) otate(0deg);
            transform: translateY(0px) otate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) otate(0deg);
            transform: translateY(0px) otate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 2em auto;
}

.container p {
  margin: 1rem 0;
}
/*# sourceMappingURL=styles.css.map */